{% extends "base.html" %}
{% block head %}
<link href="/static/css/forum.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}Questions{% endblock %}

{% block body %}

<div class="row">
    <div class="span2">
        <div class="span2">
            <h4>Popular tags</h4>
            <a class="label tag-label" href="#"><input type="checkbox"/>C</a>
            <a class="label tag-label" href="#">Python</a>
            <a class="label tag-label" href="#">Java</a>
            <a class="label tag-label" href="#">Go</a>
            <a class="label tag-label" href="#">Python</a>
            <a class="label tag-label" href="#">Python</a>
            <a class="label tag-label" href="#">Java</a>
            <a class="label tag-label" href="#">Go</a>
            <a class="label tag-label" href="#">Java</a>
            <a class="label tag-label" href="#">Go</a>

        </div>
    </div>
</div>
{% endblock %}
