{% extends "base.html" %}
{% block head %}
<link href="/static/css/forum.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}Questions{% endblock %}

{% block body %}
<div class="row">
<div class="span10">
    {% for question in questions %}
        <div class="row">
            <div class="span3">
                <div class="row">
                    <span class="question-summary-int span1">{{ question.downvotes|add:question.upvotes }}<br /><span>Votes</span></span>
                    <span class="question-summary-int span1">{{ question.answers_count }}<br /><span>Answers</span></span>
                    <span class="question-summary-int span1">{{ question.views }}<br /><span>Views</span></span>
                </div>
            </div>
            <div class="span">
                <a class="question-summary-question-text" href="{{ question.get_absolute_url }}">{{ question.question_text }}</a>
                <span class="question-summary-question-time">{{ question.date_posted }}</span>
                <div class="question-summary-tags-container">
                {% for tag in question.tags.all %}
                   <a class="tag-label" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
