{% extends "base.html" %}
{% block head %}
<link href="/static/css/forum.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}Questions{% endblock %}

{% block body %}
<div class="row">
<div class="span10">
    {% for question in questions %}
    <div class="question-summary">
        <div class="question-summary-int-container">
            <span class="question-summary-votes">{{ question.downvotes|add:question.upvotes }}</span>
            <span class="question-summary-answers">{{ questions.answers_count }}</span>
            <span class="question-summary-answers">{{ questions.answers_count }}</span>
        </div>
        <div class="question-summary-text-container">
            <a class="question-summary-question-text" href="{{ question.get_absolute_url }}">{{ question.question_text }}</a>
            <span class="question-summary-question-time">{{ question.date_posted }}</span>
            <div class="question-summary-tags-container">
                {% for tag in question.tags %}
                   <a class="tag-label" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        <p><a href="{{ question.get_absolute_url }}">{{ question.question_text }}</a>
    </div>
    {% endfor %}
</div>
<div class="span2"></div>
</div>
</div>
{% endblock %}
