{% extends "base.html" %}
{% block head %}
<link href="/static/css/forum.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}Discussions{% endblock %}

{% block body %}
<div class="row">
    <div class="span10">
        <ul class="breadcrumb">
          <li><a href="{% url 'forum_index' %}">Forum Home</a> <span class="divider">/</span></li>
          <li class="active">Discussion Boards</li>
        </ul>
        <h1>BOARDS</h1>
        <table class="table table-striped">
            <thead>
                <th 
            </thead>
        {% for board in boards %}
            
        {% endfor %}
        </table>
    </div>
</div>

