{% extends "base.html" %}
{% block title %}Start a new Thread{% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/forum.css"></link>
{% endblock head %}
{% block body %}
<div class="span12">

    {% load add_class %}
    <div class="row">
        <h1>Start a new Thread</h1>
        <form action="{% url 'new_thread' board.slug %}" method="POST" class="form-horizontal well">
            <h1>{{ form.non_field_errors }}</h1>
            {% csrf_token %}
            <div class="control-group">
                {% for error in form.thread_subject.errors %}
                    <div class="alert alert-error">
                        {{ error }}
                    </div>
                {% endfor %}
                <label for="thread_subject" class="control-label">Subject</label>
                <div class="controls">
                    <input type="text" class="input-xxlarge" placeholder="Be clear and concise..." name="thread_subject"/>
                </div>
            </div>
            <div class="control-group">
                {% for error in form.body_text.errors %}
                    <div class="alert alert-error">
                        {{ error }}
                    </div>
                {% endfor %}
                <label for="body_text" class="control-label">Body</label>
                <div class="controls">
                    <textarea class="input-xxlarge" name="body_text"></textarea>
                </div>
            </div>
            <input type="hidden" name="board_id" value="{{ board.id }}"/>
            <div class="control-group">
                <label for="thread_icon" class="control-label">Mood</label>
                <div class="controls">
                    <select name="thread_icon">
                        <option value="0">None</option>
                        {% for icon in icons %}
                            <option value="{{icon.id}}"><img width="21px" height="21px" src="{{ icon.icon }}"/> {{ icon.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls"><input type="submit" class="btn" value="Submit" /></div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}
