{% extends "base.html" %}
{% block title %}Start a new Thread{% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="/static/css/forum.css"></link>
{% endblock head %}
{% block body %}
<div class="span12">

    {% load add_class %}
    <div class="row">
        <h1>Post a new question</h1>
        <form action="{% url 'new_thread' %}" method="POST" class="form-horizontal well">
            <h1>{{ form.non_field_errors }}</h1>
            {% csrf_token %}
            {% for f in form %}
                <div class="control-group">
                    {% for error in f.errors %}
                        <div class="alert alert-error">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {{ f.label_tag|add_class:"control-label"|safe }}
                    <div class="controls">
                        {{ f|add_class:"input-xxlarge"|safe }}
                    </div>
                </div>
            {% endfor %}
            <div class="control-group">
                <div class="controls"><input type="submit" class="btn" value="Submit" /></div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}
