{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block body %}
<div id="fb-root"></div>
<div id="gallery" ></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
window.fbAsyncInit = function() {
  FB.init({
    appId      : '107350029325934',
    channelUrl : '/static/html/channel.html',
    status     : true,
    cookie     : true,
    xfbml      : true
  });
};

$(function($) {
  FB.api('/polysec/albums',  function(res) {
    var container = '#gallery';
    for (var i = 0, l = res.data.length; i < l; i++){
      var album = res.data[i];
      $(container).append('<div> <h3>' + album.name + '</h3><ul class="thumbnails" id="' + album.id + '"></ul></div>');
      var albumul = '#' + album.id;

      FB.api('/' + album.id + '/photos?limit=4', function(res){
        for(var j = 0, k=res.data.length; j<k; j++){
          var photo = res.data[j];
          console.log(photo);
          $(albumul).append('<li class="span3"><a class="thumbnail" href="' + photo.images[0].source + '"><img height="200px" src="' + photo.images[2].source + '"/></li>');
        }
      })
    }
  });
});
</script>
{% endblock %}
