{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block body %}
<div id="gallery"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
window.fbAsyncInit = function() {
  FB.init({
    appId      : '371693949580281',
    channelUrl : '/static/html/channel.html',
    status     : true,
    cookie     : true,
    xfbml      : true
  });
  FB.api('/polysec/albums',  function(res) {
    var contents = [];
    for (var i = 0, albumlen = res.data.length; i < albumlen; i++) {
      var album = res.data[i];
      contents.push('<div><h3>');
      contents.push(album.name);
      contents.push('</h3><ul class="thumbnails" id="album-');
      contents.push(album.id);
      contents.push('">');
      contents.push('</ul></div>');
      $('#gallery').append(contents.join(''));

      FB.api('/' + album.id + '/photos?limit=4', function(res) {
        var contents = [];
        for(var j = 0, photolen = res.data.length; j < photolen; j++) {
          var photo = res.data[j];
          contents.push('<li class="span3"><a class="thumbnail" href="');
          contents.push(photo.images[0].source);
          contents.push('"><img height="200px" src="');
          contents.push(photo.images[2].source);
          contents.push('"/></li>');
        }
        $('#album-'+album.id).html(contents.join(''));
      });
    }
  });
};
</script>
{% endblock %}
