.entry > header > h3 {
  font-variant: small-caps;
}
.entry > header > h4 {
  font-family: 'Anonymous Pro';
}
time {
  color: #999;
  font-family: 'Anonymous Pro';
}

footer {
  margin: 40px 0 20px;
}

.entry-content > h2 {
    font-size: 20px;
}

.entry-comments {
    margin: 20px 0 0 20px;
}

.align-right {
    text-align: right;
}

footer {
    text-align: center;
}
