{% extends "base.html" %}

{% block body %}
{% regroup entries by date_created|date:"F Y" as months %}
<div id="entry-archive" class="row">
  <div class="span12">
  {% if limitby %}<h5>All posts {{ limitby }}</h5>{% endif %}
  {% for month in months %}
  {# <div class="entry-archive-month"> #}
    <h3>{{ month.grouper }}</h3>
    <ul class="row">
      {% for entry in month.list %}
      <div class="span3"> 
        <div class="well well-small">
          <a href="{{ entry.get_absolute_url }}">{{ entry.headline }}</a>
          <div class="align-right"> 
            <time datetime="{{ entry.date_created|date:"Y-m-d" }}">{{ entry.date_created|date:"d M Y" }}</time>
          </div>
          {# &raquo; #} 
        </div>
      </div>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
<!--
<div id="entry-filter-forms">
  <p>NOTICE: None of this affects anything yet.</p>
  <form action="/blog/index" method="POST">
    <label>Author <input type="text" name="author"></label>
    <label>Headline <input type="text" name="headline"></label>
    <div class="date-forms">
      <label>Older-than <input type="date" name="older-than"></label>
      <label>Newer-than <input type="date" name="newer-than"></label>
    </div>
    <label>Contains <input type="text" name="contains"></label>
    <input type="submit" value="Apply Filters">
  </form>
</div>
-->
{% endblock body %}
