{% extends "base.html" %}

{% block title %}{{ entry.headline }}{% endblock %}

{% block body %}
<div class="row">
  <div class="span10">
{% include "blog/entry.html" %}
  </div>
  <div class="span2">
    <h5>Category: <a href="{{ entry.category.get_absolute_url }}">{{ entry.category|capfirst }}</a></h5>
    <h5>Tags:</h5>
    <ul>
      {% for tag in entry.tags.all %}
      <li><a href="{{ tag.get_absolute_url }}">{{ tag|capfirst }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% if entry.enable_comments %}
<div class="entry-comments">
  <div class="fb-comments" data-href="http://thewhitehat.org{{ entry.get_absolute_url  }}" data-num-posts="10" data-width="630"></div>
</div>
{% endif %}
{% endblock body %}
