{% extends "base.html" %}n

{% block body %}
  {% for entry in entries %}
    <article>
      <header>
	<a href={{ entry.get_absolute_url }}><h1>{{ entry.headline }}</h1></a>
	<h2>{{ entry.author.name }}</h2>
	<time datetime="{{ entry.date_modified|date:"U" }}">
	  {{ entry.date_modified|date:"g:i A l, F d, Y" }}
	</time>
	
      </header>

      <div class="entry-content">
	{% autoescape off %}
	{{ entry.content }}
	{% endautoescape %}
      </div>
    </article>
  {% endfor %}

  {% block comments %}{% endblock %}
{% endblock body %}
