{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <title>{% block title %}{% endblock %} | The White Hat - Cal Poly San Luis Obispo</title>

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container">
      <header>
        <a href="/"><img src="{% static 'img/logo350x100.png' %}" width="350" height="100" alt="The White Hat - Cal Poly San Luis Obispo" /></a>
      </header>
      <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">The White Hat</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url blog %}">Blog</a></li>
              <li><a href="{% url gallery %}">Gallery</a></li>
              <li><a href="{% url contact %}">Contact</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
            <form class="navbar-search pull-right" onsubmit="window.location = 'https://www.google.com/search?q=site:thewhitehat.org '+this.getElementsByTagName('input')[0].value;return false;"><!-- todo this is dumb -->
              <input type="text" class="search-query" placeholder="Search" />
            </form>
          </div>
        </div>
      </div>

      {% block body %}{% endblock %}

      <footer>
        <p>&copy; The White Hat - Cal Poly 2012, All Rights Reserved</p>
        <p>Site by verybueno, vilonis, thepicard, th3perfectfl4w</p>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
