{% extends "base.html" %}
{% block head %}
<link href="/static/css/forum.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}Forums{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 row-fluid">
    <div class="well">
      <h1>Forum</h1>
      <p>Welcome to The White Hat forums! This is a place to set your mind free. Ask &amper; Answer questions, vote in polls, and participate in discussions! Help keep the White Hat community alive :3</p>
      </div>
      <div class="row-fluid">
          <div class="span4 cat-block">
            <h3>Questions</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p><a class="btn" href="#">View All Questions</a></p>
          </div>
          <div class="span4 cat-block">
            <h3>Polls</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p><a class="btn" href="#">View All Polls</a></p>
          </div>
          <div class="span4 cat-block">
            <h3>Discussions</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p><a class="btn" href="#">View All Discussions</a></p>
          </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3 latest-block">
        <h4>Latest Quetsions</h4>
        <table class="table">
            <tr>
                <td>Lol by chicken</td>
            </tr>
            <tr>
                <td>Lol by chicken</td>
            </tr>
            <tr>
                <td>Lol by chicken</td>
            </tr>
        </table>
    </div>
    <div class="span3 latest-block">
        <h4>Latest Polls</h4>
        <table class="table">
            <tr>
                <td>Lol by chicken</td>
            </tr>
            <tr>
                <td>Lol by chicken</td>
            </tr>
            <tr>
                <td>Lol by chicken</td>
            </tr>
        </table>
    </div>
    <div class="span3 latest-block">
        <h4>Latest Discussions</h4>
        <table class="table">
            <tr>
                <td>Lol by chicken</td>
            </tr>
            <tr>
                <td>Lol by chicken</td>
            </tr>
            <tr>
                <td>Lol by chicken</td>
            </tr>
        </table>
    </div>
    <div class="span3 latest-block">
        <h4>Popular Tags</h4>
        <table class="table">
            <tr>
                <td>Lol by chicken</td>
            </tr>
            <tr>
                <td>Lol by chicken</td>
            </tr>
            <tr>
                <td>Lol by chicken</td>
            </tr>
        </table>
    </div>
  </div>
</div>
{% endblock %}
